body {
	/*** margin 0 to cover all the surface of the body otherwise a space will be left ****/
	overflow-y : auto ;
	margin: 0;
}

body .header {
	height: 60px;
	background : #7f0000;
	display: inline-block;
	text-align:right;
	width:100%;
}

body .header h1 {

	font-family: Arial;
	padding:10px;
	color : white;
	margin: 0;
}

body .header .customerName {

	text-align:left;
	font-size:15px;
	width:30%;
	float:left;
}

body .main-content {

	display: inline-block;
	width : 100%;
	height: calc(100vh - 120px);
	top : 0;
}

body .top-bar {

	background : #7f0000;
	height : 48px;
	width : 100%;
}

body .main-content .chat-body{

	background: #d2cece;
    width: 100%;
    height: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
}

body .main-content .chat-body ul {
	
	margin:0px;
	/**** if you want the left of the list to be zero ****/
	padding-left:0px;
	width : inherit;
}

body .main-content .chat-body ul .single-message {

	padding-top:5px;
	display: inline-block;
	width:100%;
	height: auto;
	padding-bottom:10px
	padding-left:0px;
}

body .main-content .chat-body ul .single-message .logo-box {

	width: 60px;
    height: inherit;
    float:left;
    margin-left:60px;
    margin-right: 25px;
}

body .main-content .chat-body ul .single-message .admin-logo-box {

	width: 60px;
    height: inherit;
    float: left;
    margin-left: 6px;
    margin-right: 30px;
}

body .main-content .chat-body ul .single-message .cust-logo-box {

	width: 60px;
    height: inherit;
    float: left;
    margin-left: 158px;
    margin-right: 6px;

}

body .main-content .chat-body ul .single-message .cust-logo-box .custlogo {

	width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

body .main-content .chat-body ul .single-message .admin-logo-box .adminlogo {

	width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

body .main-content .chat-body ul .single-message .chat-box {
	
	width:763px;
	height:inherit !IMPORTANT;
	float:left;
}

body .main-content .chat-body ul .single-message .chat-box .admin-chat-box {
	
	
	float:right;
	padding-right :10px;
	width:auto;
	max-width:526px;
	height:auto;

}

body .main-content .chat-body ul .single-message .chat-box .cust-chat-box {

	float:left;
	padding-left :10px;
	width:auto;
	max-width:513px;
	height:auto;

}

body .main-content .chat-body ul .single-message .chat-box .cust-chat-box .text-message{

	float:left;
	text-align:justify;
	border-radius: 20px;
	background : white;
	width : auto;
	max-width: inherit; 
	padding:15px;
	word-wrap : break-word;

}

body .main-content .chat-body ul .single-message .chat-box .admin-chat-box .text-message {

	float:right;
	text-align:justify;
	border-radius: 20px;
	background : #8ac78a;
	width : auto;
	max-width: inherit; 
	padding:15px;
	word-wrap : break-word;

}


body .main-content .chat-body ul .single-message .chat-box .admin-chat-box .imagebox {

	float:right;
	text-align:justify;
	border-radius: 20px;
	background : #8ac78a;
	width : auto;
	height: auto ;
	max-width: 300px;
	padding:15px;
	word-wrap : break-word;

}

body .main-content .chat-body ul .single-message .chat-box .admin-chat-box .imagebox .image {

	border-radius:6px;
	width : 252px;
	height : 236px;
}

body .main-content .chat-body ul .single-message .chat-box .admin-chat-box .imagebox .video {

	border-radius:6px;
	width : 252px;
	height : 266px;
}

body .main-content .chat-body ul .single-message .chat-box .admin-chat-box .imagebox .text-message {

	float:right;
	text-align:justify;
	border-radius: 3px;
	width : auto; 
	margin-top:10px;
	padding:0px;
	margin-right:4px;
	word-wrap : break-word;
	max-width : 252px;
	height : auto;
}

body .main-content .chat-body ul .single-message .chat-box .admin-chat-box .prodbox {
	
	float: right;
    border-radius: 20px;
    background: #8ac78a;
    height: auto;
    max-width: 433px;
    padding:10px;
    padding-right:8px;
    padding-left:12px;
}

body .main-content .chat-body ul .single-message .chat-box .admin-chat-box .prodbox .prodimage {
	
	float:left;
	border-radius:3px;
	width : 74px;
	height : 117px;
	display:inline-block;
	margin-right:11px;
}

body .main-content .chat-body ul .single-message .chat-box .admin-chat-box .prodbox .proddesc {
	
	color:#000b2b;
	margin-top: 11px;
	margin-right:5px;
	font-size: 15.5px;
	max-width: 365px;
	max-height: 95px;
	overflow: hidden;
	text-align: justify;
	word-wrap: break-word;
}

body .main-content .chat-body ul .single-message .chat-box .admin-chat-box .prodbox .message {
	
	float:left;
	margin-top: 4px;
	margin-right:5px;
	width:auto;
	height:auto;
	text-align: justify;
	word-wrap: break-word;
}

body .main-content .chat-body ul .single-message .chat-box .admin-chat-box .prodbox .prodimageplusdesc {

	height:auto;
	min-height:117px;
	margin:0px;
	display:inline-block;
	border-bottom: 1.3px dotted #001294;
}

body .main-content .chat-body ul .single-message .single-message-time {

	display:inline-block;
	padding-top:13px;
	font-size: 12px;
	min-height:47px;
	width : 70px;
	height: inherit !IMPORTANT;
	font-family: Arial;
	color : darkblue;
}


/***** done the part here ****/

.search_request_box {
	margin: 10px;
	padding: 20px;
	background-color : white;
}

.request_logo {

	font-family: Arial;
	font-size: 20px;
	text-align : left;
	padding:10px;
	color : black;
}

.original_requests {

	overflow-y:scroll; 
	overflow-x:hidden; 
}

.original_requests_number {
	height : 100px;
	width : 200px;
}

.original_requests_number_single_div {
	padding-left:0px;
	font-family:Arial;
	font-size: 20px;
	height:62px;
	width:270px;
}

.dynamicaddedlist{
	list-style-type: none;
	text-align : center;
}

.write-text-box {
	height:40px;
	padding-top:5px;
	width:593px;
	float:left;
}

.inside_chat_body {
	margin : 20px;

}

.text-box {
	border-radius: 5px;
    height: 45px;
    overflow: auto;
    width: 444px;
    margin-left: 10px;
    padding-right: 10px;
    float: left;
}

.file_upload {
	margin-left: 10px;
	border: 0px;
}

/*
.single_message {
	margin-top:5px;
	display: inline-block;
	min-width:620px;
	width:100%;
	height:auto;
}
*/

.admin {
	text-align:justify;
	text-align:right;
	background : #8ac78a;
	

}

.imgbox {
	max-width:300px;
	float:left;
	margin-bottom:10px;
	max-height:200px;
}

.imgadmin {
	padding: 10px;
    text-align: right;
    max-width: 600px;
    height: auto;
}

.imgclient {
	text-align:left;
	max-width:530px;
	height:auto;
}

.client {
	text-align: justify;
	text-align: left;
}

.single_message_text {

	padding-top:10px;
	padding-right:5px;
	padding-bottom:5px;
	border-radius: 10px;
	width:444px;
	min-height:40px;
	height: auto;
	float:left;
	word-wrap: break-word;
}	

input[type="submit"]{
    /* change these properties to whatever you want */
    background-color: #555;
    color: #fff;
    border-radius: 12px;
}

input[type="file"]{

    /* change these properties to whatever you want */
    background-color: #555;
    color: #fff;
    border-radius: 12px;
    float: left;
    width: 134px;
}

.bottom-bar {

	background : #7f0000;
	height : 50px;
	width : 100%;
	padding-bottom:10px;
}

.setImageSize {

	border-radius: 5px;
	max-height: 117px;
    max-width: 126px;
}

.split_footer {
    padding:0;
    float: left;
}

.left_footer {
    width : 30%;
    
}

.right_footer {
	width : 70%;
}

.search_box {

	font-size:18px;
	height:30px;
	width:25%%;
}

.search_button {
	margin-top:15px;
	font-size:18px;
	text-align: center;
	font-style:strong;
	height:35px;
	width:10%;
}

.product_description {

	margin-top: 10px;
	margin-left: 10px;
	margin-right:10px;
	margin-top: 3px;
	color:#7f0000;
	font:Arial;
	font-style:strong;
	font-size: 20px;
	text-align:left;
	height: 40px;
	word-wrap: break-word;
	
}

.clickMe {

	border-radius: 20px;
	background : white;
	margin-top:12px;
	height: 32px;
    width: 67px;
	
}

body .footer {
	
	display: inline-block;
	width: 100%;
	height: 60px;
	background: #7f0000;
}

.single_message .blank_box {

    visibility: hidden;
	width: 418px;
	height: 117px;
	float:left;
}

.imgproductadmin {

	margin-left:10px;
	text-align:center;
	max-width:220px;
	height:auto;
	float:left;
}

.image_plus_desc {

	border-radius: 20px;
	height: 117px;
	max-width:585px;
	min-width:450px;
	background: #8ac78a;
	float:left;
}

.imgproduct_desc {
	margin-top: 12px;
	margin-left: 5px;
	font-size: 14px;
	max-width: 365px;
	max-height: 81px;
	overflow: hidden;
	text-align: justify;
	word-wrap: break-word;
	float: left;
}

.blank_box_text_admin {

	visibility: hidden;
	width: 418px;
	height:auto;
	float:left;
}

.clickMe:hover {

	color: red;
}

.bottom-bar .blank_box {

	visibility: hidden;
	width: 133px;
	height: 24px;
	float:left;
}

/*
 * 
 * //customer 

logoToDisplay = '<div class = "cust-logo-box"><img src ='+logoCustPath+' alt = "Image" class = "custlogo"></div><div class = "chat-box"><div class = "cust-chat-box"><div class = "message">'+message+'</div></div></div><div class = "admin-logo-box"><img src ='+logoAdminPath+' alt = "Image" class = "adminlogo"></div><div class = "single-message-time">'+time+'</div>';

// admin

logoToDisplay = '<div class = "cust-logo-box"><img src ='+logoCustPath+' alt = "Image" class = "custlogo"></div><div class = "chat-box"><div class = "admin-chat-box"><div class = "message">'+message+'</div></div></div><div class = "admin-logo-box"><img src ='+logoAdminPath+' alt = "Image" class = "adminlogo"></div><div class = "single-message-time">'+time+'</div>';
* 
* */
